body{
    margin: 0px;
    padding: 0px;
    font-family: 'inter';
}
#tituloSuperior{ 
    font-size: 50px;
    padding-top: 100px;
    margin-top: 0px;
    margin-left: 72px;
}
#tituloInferior{    
    margin-left: 70px;
}
#menuSuperior{    
    background-image: url(imagem/container.svg);
    color: white;
    padding-bottom: 100px;
    
}
#menuInferior{
    background-color: #f9f9f9;
    display: grid;
    grid-auto-flow: column;
    columns: auto;
    padding: 20px;
    
}
.resultados{
    text-align: left;
    font-family: 'inter';
    margin-left: 150px;
    margin-top: 25px;   
    margin-bottom: 25px;
}
.resultados p{
    margin: 0px;
}
.resultados h1{
    margin: 0px;
}
#apresentacao{
    display: grid;
    margin-top: 100px ;
    margin-left: 75px;
    display: grid;
    grid-auto-flow: column;
    columns: auto;
    padding-bottom: 35px;
}
.titulo{
    margin-top: 200px;
    margin-left: 75px;
}
p{    
    margin-top: 0px;
    margin-left: 75px;
}
#formulario{
    background-color: #303030;
    text-align: center;
    padding-bottom: 50px;
}
#tituloFormulario{
    font-size: 25px;
    padding-top: 50px;
    padding-bottom: 0px;    
    color: white;
}
input{
    width: 308px;
    height: 52px;
    margin: 15px;
    border: 0px;
    border-radius: 10px;
    padding-left: 15px;
}
button{
    background-color: rgba(192, 114, 18, 1);
    font-size: 20px;
    color: white;
    width: 208px;
    height: 52px;
    border: 0px;
    border-radius: 10px;
    margin-top: 50px;

}
